body {
    margin: 10px auto;
    width: 600px;
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid black;
    box-shadow: 5px 5px 3px grey;
    padding-left: 30px;
    padding-bottom: 30px;
}
label {
    width: 11em;
    text-align: right;
    float: left;
}
input {
    width: 11em;
    margin: 0 1em 0.5em 1em;
}